<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: title}) %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="container">
        <h1><%= status %> Error</h1>
        <p><%= message %></p>
        <a href="/">Return to Home</a>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>